APP_ENV=development
APP_DEBUG=true
APP_URL=/digitalfuture/public
APP_TIMEZONE=America/Guayaquil

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=congreso_db
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

PAYPHONE_API_URL=
PAYPHONE_CLIENT_ID=
PAYPHONE_CLIENT_SECRET=
PAYPHONE_TOKEN=
PAYPHONE_STORE_ID=
